<html>
   <body>
   </body>
   <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
   <script>
        let idToken= "";
        const main = async () => {
            await liff.init({ liffId: "2007211330-ELD8XqmV" });
            if (liff.isLoggedIn()) {
                idToken = await liff.getIDToken();
                window.location.replace("https://tally.so/r/w4yvGY?token=" + idToken);
            }
        }
   </script>
</html>